/**{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*/
/*Helper Classes*/
body{background:url('../img/bg.jpeg');}
body{position:relative;}
.floatLeft{float:left;}
.floatRight{float:right;}
.marginLeft10{margin-left:10px !important;}
.marginRight5{margin-right:5px !important;}
.marginRight10{margin-right:10px !important;}
.marginTop10{margin-top:10px !important;}
.marginTop5{margin-top:5px !important;}
.marginBottom10{margin-bottom:10px;}


.paddingTop5{padding-top:5px;}
.paddingTop5{padding-bottom:5px;}
.paddingBottom10{padding-top:10px;}

.paddingBottom10{padding-bottom:10px;}
.roundedTop{border-radius:5px 5px 0 0 !important;}
.roundedBottom{border-radius:0 0 5px 5px !important;}
.rounded{border-radius:5px !important;}
.borderBox{border:1px solid #ddd;}
.borderBottom{border-bottom:1px solid #ddd;}
.borderRight{border-right:1px solid #ddd;}
.borderLeft{border-left:1px solid #ddd;}
.borderTop{border-top:1px solid #ddd;}

.navbar .nav li .imgSmall{margin-top:5px;}
.titleBar i{margin-top:3px;}


.fullWidth{width:100%;}


.infoMessage{margin-bottom:60px;}

.splash{background:url('../img/splash.jpg')center center no-repeat;background-size:cover;height:100%;margin:0;min-height:1080px;}
.splash .navbar p{color:#fff;margin-left:25px;}
.splash .navbar .btn{text-decoration:none;}
.signUp{height:100%;}
.mainSignUp{
    margin-top:30%;
    padding:20px;box-shadow:2px 5px 10px #ddd; height:100%;
    background:#eaeaea;
    border:1px solid #fafafa;
    text-align:center;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.mainSignUp input{
    height:40px;
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.mainSignUp input[type=submit]{

    height:40px;
    width:100%;
}
.mainSignUp>p{margin-top:20px;text-align:left;color:#333;font-size:1.4em;}
.mainSignUp p a.btn {text-decoration:none;}
.login .mainSignUp{margin-bottom:30%;margin-top:1%;}
.additionalInfo{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px;padding-top:40px;
}
.brandingMessage{
    font-size:3em;text-align:center;padding:30px 20px;line-height:1em;background:rgba(250,250,250,.2);margin-top:20%;color:#333;
    text-shadow:inset 0 1px 1px #ddd;text-align:left;
}

ul, li{list-style:none;margin:0;}
li{margin-left:0;}



/*++++++++++++++++++++++++++++++++*/
/*Navigation*/
/*++++++++++++++++++++++++++++++++*/

.navbar{margin-bottom:0;}

.clientBranding{height:60px;background:#000;clear:both;box-sizing:border-box;}
.clientLogo{max-height:58px;width:auto;float:left;}
.clientTag{float:left;font-size:1.2em;line-height:60px;margin-left:10px;}
.mainNav{height:60px;margin-top:0px;}
.imageMenu{width:50px;border-right:1px solid #32616b;}
ul.imageNav{border-right:1px solid rgba(0,0,0,.15);border-left:1px solid rgba(0,0,0,.15);padding-right:20px;}
ul.imageNav li{min-width:60px;text-align:center;}
.mainNav .container .brand{padding-top:15px;}
.mainNav .container .nav{height:60px;margin-top:0px;margin-bottom:0px;vertical-align:middle;}

.dropDownName{display:inline-block;margin-top:20px;}
.nav.secondaryNav{right:0;padding-right:10px;padding-left:20px;}
.form-search{padding-top:15px;}
.navIcon{margin-right:5px;}
.notificationList{min-width:310px;}
.notificationList .rightSection{float:left;}
.notificationList .rightSection a{display:block;text-align:left;margin-left:0px; padding-left:0px;font-weight:bold;}

.notificationList .rightSection .floatleft .commentTile a{text-align:left;margin-left:0;padding-left:0;padding:0px;}
.notificationList p{color:#666;text-align:left;}
.notificationList .rightSection p a {display:inline;font-weight:normal;}
.notificationList .leftSection{
    padding-left:5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height:100%;
}
.notificationList .rightSection{
    max-width:234px;
    margin-left:0px;
    padding:0 5px 0 0;
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.sideNav{
    background:#1E474F;
    padding:12px;
    border-radius:3px;
    display:block;
    box-shadow:inset 0 1px 2px #666;
}

/*++++++++++++++++++++++++++++++++*/
/*slider*/
/*++++++++++++++++++++++++++++++++*/

#modal{display:none;}
#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 220px;
    padding: 20px 0;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}
#pageslide ul li{
    border-top:1px solid #111;
    border-bottom:1px solid #111;
    padding-left:20px;
}
#pageslide ul li a{
    color:#fff;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
}
#pageslide ul li input{width:80%;}

/*#pageslide ul.marginTop10.clearfix li.clearfix.paddingTop10.paddingBottom10 a{margin-top:15px;padding-top:5px;}
*//*++++++++++++++++++++++++++++++++*/
/*Image Containers*/
/*++++++++++++++++++++++++++++++++*/


.profilePic{text-align:center;}
.profilePic .imgLarge{margin:auto;}
.imgSmall,.imgMedium,.imgLarge{border:5px solid #fff;}

.imgSmall{width:40px;height:40px;overflow:hidden;border-radius:4px;}
.imgMedium{width:50px;height:50px;overflow:hidden;border-radius:5px;}
.imgMediumLarge{width:80px;height:80px;overflow:hidden;border-radius:7px;box-shadow:0 1px 4px #ddd;}
.imgLarge{width:175px;height:175px;overflow:hidden;border-radius:10px;}
.imgMLarge{width:80px;height:80px;overflow:hidden;border-radius:7px;box-shadow:0 1px 4px #ddd;}

.imgMediumLarge img{width:350%;height:auto;left:-70%;min-width:150px;position:relative;}

/*sidebar common*/
.widget{padding-left:10px;padding-right:10px;}
.widgetLinkContainer{padding-top:5px;padding-bottom:5px;padding-right:10px;}
.widgetContent{
    background:#fff;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    position:relative;z-index:50;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    
}
.widgetLinkContainer{border-top:1px solid #ddd;border-bottom:1px solid #ddd;position:relative;z-index:50;}
.widgetContent:after,.widgetContent:before{
    position:absolute;
    content:"";
    width:98%;
    background:transparent;
    border-bottom:1px solid #ddd;height:12px;
}
.widgetContent:before{
    left:2px;bottom:-3px;z-index:10;
}
.widgetContent:after{
    right:2px;bottom:-6px;z-index:9;
}
#gifts ul{width:100%;padding-top:20px;padding-bottom:20px;}
#gifts ul li{width:33%;float:left;text-align:center;}

.asideBox h3{margin-left:10px;}
.asideBox form{padding-top:15px;padding-bottom:15px;width:100%;}
.oneForm input, .asideBox form input {margin:auto;border-radius:4px;height:30px;width:80%;margin-left:10%;}

.asideBox button{margin-right:10px;}


/*++++++++++++++++++++++++++++++++*/
/*row based widgets classes*/
/*++++++++++++++++++++++++++++++++*/

.leftSectionWidget{
    padding:5px 10px;height:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.rightSectionWidget{
    padding:5px 10px;border-left:1px solid #ddd;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.rightSectionWidget p a{text-decoration:underline;}

.postNav li a {padding:15px 25px;display:block;border-top:1px solid #ddd;border-bottom:1px solid #ddd;color:#a9a4a4;}
.postNav li a.active{background:#fff;color:#337887;font-weight:bold;} 
.postNav li a .postCount{background:#a9a4a4;color:#fff;margin-right:10px;padding:5px 10px;border-radius:4px;position:relative;}

.postNav li a .postCount{background:#a9a4a4;color:#fff;margin-right:10px;padding:5px 10px;border-radius:4px;position:relative;}
.postNav li a .postCount:after{content:"";position:absolute;right:4px;top:25px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #a9a4a4;
}
.postNav li a.active .postCount{background:#337887;color:#fff;margin-right:10px;padding:5px 10px;border-radius:4px;position:relative;}
.postNav li a.active .postCount:after{content:"";position:absolute;right:4px;top:25px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #337887;
}

/*++++++++++++++++++++++++++++++++*/
/*completeSignup*/
/*++++++++++++++++++++++++++++++++*/

.completeSignUp{
    border-left:1px solid #ddd;border-right:1px solid #ddd;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.suggestedPeople li{
    width:33%;float:left;
    padding:10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.step1{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.step2{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-left:1px solid #ddd;
    
}
.step2 .row-fluid{
    padding:15px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.step2 p{
    padding-left:15px;
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
}
.step2 .btn{margin-top:50%;text-align:center;}
.step2 textarea{
    box-shadow:inset 0 2px 5px #e8e8e8;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:4px;
    border:1px solid #ddd;  
}
.oneForm{margin-top:45px;}

.oneForm .help-inline{margin-left:10%;margin-top:10px;}

.twoForm input{height:30px;border-radius:4px;}

.twoForm select{height:40px;border-radius:4px;}

.twoForm .control-group{
    margin:auto;
    width:35%;
    margin-left:10%;
    float:left;
}
.twoForm .control-group input,
.twoForm .control-group select{width:100%;}

.suggestedPeople .rightSection{float:left;}



/*++++++++++++++++++++++++++++++++*/
/*feeds*/
/*++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++*/
/*feeds common*/
/*++++++++++++++++++++++++++++++++*/

.profileTitle h1{margin-left:20px;}
.feedContent{border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
#updateSorter .caret{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    opacity: 1;
}
h3.titleBar{font-size:16px;font-weight:500;}
.titleBar .feedIcon{
    margin-top:5px;
    padding-right:10px;
}

.userInfo ul{
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
}

.userInfo,
.userInfo ul{
    background:#f9f9f9;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.userInfo ul li{float:left;margin-left:15px;}
.userInfo ul li h4{font-weight:normal;font-size:13px;}
.userInfo ul li h4 i{margin-right:6px;margin-top:0px;}
.userInfo ul li p{font-weight:bold;color:#666;}
.shareBoxContainer{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding-left:30px;padding-right:30px;
}
.shareBoxHolder{
    background:#fff;padding:5px 7px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.shareBoxHolder textarea{
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.feedItems{
    padding-left:20px;padding-right:20px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.replyUser{
    background:rgba(220,220,220,.8);color:#fff;
    border-radius:25px;padding:2px 10px;
    box-shadow:inset 0 1px 2px #ddd;margin-top:2px;
    display:inline-block;*display:inline;
}

.leftSection{
    float:left;
    display:table-cell;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.rightSection{
    padding:10px;
    display:table-cell;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.nameHolder .userName{font-weight:bold;}

.nameHolder .userAction{margin-left:6px;}

.shareAction{clear:right;}

.shareAction>a{font-size:10px;}

.messageText{
    border-bottom:1px solid #fafafa;
    margin-bottom:5px;
    border-top:1px solid #fafafa;
    padding-top:5px;
}

.commentReply{
    float:right;margin-top:15px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.commentReply.asideBox{
    padding-top:0px;padding-bottom:0px;
}
.commentReply.asideBox .titleBar{margin-bottom:0px;}

.commentReply.asideBox .titleBar p{margin-left:5px;}

.commentReply textarea{
    width:100%;margin-left:0%;padding-top:10px;padding-left:10px;
    border-radius:0px;margin-bottom:0px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.linkSep{margin-left:5px;margin-right:5px;}

.comment.link .rightSection .linkContent .rightSection{width:74%;float:left;}

.commentReply .inputContainer{
    position:relative;margin-top:10px;
}
.commentReply .inputContainer input{
    width:99%;
    height:38px;
    border-radius:6px;
    float:right;
}
.shareBoxHolder .mainActions{height:30px;}

.feed .asideBox h3 i{margin-top:5px;}

/*++++++++++++++++++++++++++++++++*/
/*search*/
/*++++++++++++++++++++++++++++++++*/

.searchPage .span3.visible-desktop.bigContentBox{padding-top:0px;}

.search h1,
.search>p{margin-left:10px;}

.miniContentBox>.rightSection,  
.miniContentBox>.leftSection{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
/*++++++++++++++++++++++++++++++++*/
/*people*/
/*++++++++++++++++++++++++++++++++*/

.peoplePage .span3.visible-desktop.bigContentBox{padding-top:0px;}
.people input{
    box-shadow:inset 0 2px 5px #e8e8e8;
    border:1px solid #ddd;
}
.span9.people>h1,.span9.people>p{margin-left:10px;}
.peopleSorter li{float:left;margin-right:10px;padding-left:10px;margin-top:10px;}
.peopleSorter li>a{display:inline;float:left;line-height:28px;margin-right:10px;}
.peopleSorter li .btn-group{float:left;}
.peopleSorter li>a.btn{float:right;}
.peopleSorter li.floatRight{float:right;}
.peopleSorter li.floatRight>a{line-height:26px;margin-top:-6px;}

/*++++++++++++++++++++++++++++++++*/
/*misc*/
/*++++++++++++++++++++++++++++++++*/

.invite ul.span6{
    padding-left:10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.infoBox{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:80%;
    border-radius:5px;
    box-shadow:0 1px 5px #ddd;border:1px solid #ddd;
    padding-bottom:40px;
}
.infoBox p{
    margin-top:10%;font-size:1.5em;line-height:1.2em;color:#666;
}
.infoBox a{text-decoration:underline;font-size:1.4em;}
/*++++++++++++++++++++++++++++++++*/
/*misc*/
/*++++++++++++++++++++++++++++++++*/

.notificationPage .span3.visible-desktop.bigContentBox{padding-top:0px;}

p{color:#666;}
p a:link{text-decoration:underline;}
.userName,p>a.userName,p>span.replyUser>a{font-weight:bold;text-decoration:none;}
.postLoader li{text-align:center;font-weight:bold;}
